div{
	outline: 1px solid rgb(0,255,0);
}
*{
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
.fondo1{
	background: url('../img/background/hero.jpg');
	height: 1000px;
}
nav{
	display: flex;
	margin:15px;
	position: fixed;
}
.menu_1 p{
	padding-left: 10px;
}
.menu1{

    padding: 10px 5px 10px 5px;
}

ul{
	list-style: none;
	display: flex;
}
ul li{
    padding-left: 10px;
    padding-right: 10px;
}
ul li a{
	text-decoration: none;
}

.menu_1 ul li{
	 padding: 10px 15px 10px 15px;
}
.menu_1 ul li a{
	color: white;
}
.primes{
    padding-right: 750px;
    color: white;
    font-weight: bold;
    font-size: 20px;

}
.menu_1 .ion-ios-star-half{
	font-size: 24px;
	color: white;
}

/** parte del contenido **/
.contenido{
	margin-top: 70px;
	padding-top: 50px;
	color: white;
}
span{
	color:#0dc0c0;
	font-size: 30px;
}
.titulo{
	font-size: 40px;
}
.titulo2{
	font-size: 18px;
}
.subtitulo{
	font-size: 16px;

}
.parrafo{
	font-size: 12px;
	color: #c9d1d6;
}
.contenido p{
	margin:30px 0px 30px 0px;
}
.separacion{
	display: flex;
}

/** parte del contenido **/

.fondo2{
	background: url('../img/laptop-features.png');
	height: 500px;
}

/* **** Separacion **** */

.fondo_choose{
	background: #f4f4f4;
	margin: 15px 0px;
}
.info_A{
	background: white;
}
.info_A div:nth-child(1){
	background: #363c46;
	color: white;
	padding: 15px 0px;
	margin:10px 10px;
}
.info_A:nth-child(2) div{
	background: #0dc0c0;
	color: white;
	padding: 15px 0px;
	margin:10px 10px;
}

.info_A div:nth-child(2){
	background: #e8edef;
	color: gray;
	padding: 15px 0px;
	margin:10px 10px;
}





/* **** Separacion **** */

.fondo_customer{
	margin-top: 15px;
	margin-bottom: 15px;
}
.fondo_customer img{
	width: 80px;
	border-radius: 50%;
}

/* **** Separacion **** */

.fondo_contacto{
	background: url('../img/background/contactus.jpg');
	color: white;
	height: 600px;
}
.fondo_contacto p{
	margin: 20px 15px;

}

/* **** Separacion **** */

.menu3 span{
	color: #555;
}
.pie1{
	margin: 30px 0px 30px 0px;
	background: white;
}
.pie1 p{
	padding: 15px 25px 10px 25px;
}
.redes_sociales{
	padding: 0px 450px;
	margin: 15px 0px 15px;
}
.pie2{
	background:#363c46;
}
.parrafo_mini{
	font-size: 10px;
	color: #c9d1d6;
	padding: 20px 0px;
}